[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.137.2"
uvicorn = "==0.49.0"
sqlmodel = "==0.0.38"
pydantic = "==2.13.4"
python-dotenv = "==1.2.2"
requests = "==2.34.2"
httpx = "==0.28.1"

[dev-packages]
pytest = "==9.1.0"
pytest-cov = "==7.1.0"
coverage = "==7.14.1"

[requires]
python_version = "3.13"
